<div class="project-list">

    <div class="navigation text-center">
        {{ knp_pagination_render(trends) }}
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Top Rank</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% if trends | length %}

                {% for trend in trends %}
                    <tr>
                        <td><a href="{{ path('twitter_trends_show', {name: trend.name, woeid: trend.woeid }) }}">{{ trend.name }}</a></td>
                        <td>{{ trend.rank }}</td>
                        <td><a target="_blank" href="https://twitter.com/search?q={{ trend.name | url_encode }}"><i class="fa fa-external-link"></i></a></td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr><td colspan="3">No results.</td></tr>
            {% endif %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(trends) }}
    </div>
</div>