{% extends '@SocialMediaContent/base.html.twig' %}
{% block meta_title %}
    Trends - Soome
{% endblock %}
{% block breadcrumb %}
    {{ include('@SocialMediaContent/breadcrumb.html.twig', { levels: [{name: 'Trends', link: path('twitter_trends')  }, {name: location.name }] })}}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Trending now <small> {% if datetime %}last update {{ datetime | ago }}</small>{% endif %}</h5>
                    <!--div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs">Create new project</a>
                    </div-->
                </div>
                <div class="ibox-content">
                    

                    {{ include('@SocialMediaContent/twitter_trend/rank.html.twig', {'trends': recent }) }}
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>All past Trends</h5>
                    <!--div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs">Create new project</a>
                    </div-->
                </div>
                <div class="ibox-content">
                    
                    <form>
                        <div class="m-b-lg">

                           <div class="input-group"><input type="text" name="search" value="{{ search }}" placeholder="Search" class="form-control-sm form-control"> <span class="input-group-btn">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Go" /> </span></div>

                           
                        </div>
                    </form>
                    {{ include('@SocialMediaContent/twitter_trend/list.html.twig', {'trends': all }) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}