{% extends '@Inspinia/main_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/inspinia/chartist/chartist.min.css') }}?v=1.4">
    <link rel="stylesheet" href="{{ asset('bundles/socialmediacontent/css/main.css') }}">

{% endblock %}

{% block meta_title %}
Influencer Soome
{% endblock %}
{% block left_nav_items %}
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
              
            <div class="logo-element">
              AD+
            </div>
        </li>
        <li>
            <a href="{{ path('twitter_users') }}"><i class="fa fa-users"></i> <span class="nav-label">Twitter Users</span></a>
        </li>
        <li>
            <a href="{{ path('twitter_tweets') }}"><i class="fa fa-twitter"></i> <span class="nav-label">Tweets</span></a>
        </li>
        <li>
            <a href="{{ path('tags') }}"><i class="fa fa-tag"></i> <span class="nav-label">Tags</span></a>
        </li>
        <li>
            <a href="{{ path('twitter_trends') }}"><i class="fa fa-chart"></i> <span class="nav-label">Trends</span></a>
        </li>
        <li class="">
            <a href=""><i class="fa fa-cog"></i> <span class="nav-label">Settings</span></a>
        </li>
    </ul>
{% endblock %}


{% block navbar_header %}

    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form action="{{ path('twitter_users') }}" role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Search..." class="form-control" name="search" id="top-search">
            </div>
        </form>
    </div>

    

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/socialmediacontent/js/base.js') }}"></script>
    {% block app_javascripts %}
    {% endblock %}

{% endblock %}