{% extends '@Inspinia/main_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/inspinia/chartist/chartist.min.css') }}?v=1.4">
    <link rel="stylesheet" href="{{ asset('bundles/socialmediacontent/css/main.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135351497-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytic_tracking_id }}');
    </script>


{% endblock %}

{% block meta_title %}
Influencer Soome
{% endblock %}
{% block left_nav_items %}
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
              
            <div class="logo-element">
              AD+
            </div>
        </li>
        {% 

            set nav = [
                { path: 'twitter_users', label: 'Twitter Users', icon: 'users' },
                { path: 'twitter_tweets', label: 'Tweets', icon: 'twitter' },
                { path: 'tags', label: 'Tags', icon: 'tag' },
                { path: 'twitter_trends', label: 'Trends', icon: 'line-chart' },
                { path: 'smc_home', label: 'Settings', icon: 'cog' }
            ]

        %}
        {% for item in nav %}
            <li class="{{ app.request.attributes.get('_route') matches '/^' ~ item.path ~ '/' ? 'active' : '' }}">
                <a href="{{ path(item.path) }}"><i class="fa fa-{{ item.icon }}"></i> <span class="nav-label">{{ item.label }}</span></a>
            </li>
        {% endfor %}
        
    </ul>
{% endblock %}


{% block navbar_header %}

    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form action="{{ path('twitter_users') }}" role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Search..." class="form-control" name="search" id="top-search">
            </div>
        </form>
    </div>

    

{% endblock %}

{% block javascripts %}

    {% if mouse_flow_id %}
        <script type="text/javascript">
            window._mfq = window._mfq || [];
            (function() {
                var mf = document.createElement("script");
                mf.type = "text/javascript"; mf.async = true;
                mf.src = "//cdn.mouseflow.com/projects/{{ mouse_flow_id }}.js";
                document.getElementsByTagName("head")[0].appendChild(mf);
            })();
        </script>
    {% endif %}
    <script src="{{ asset('bundles/socialmediacontent/js/base.js') }}"></script>
    {% block app_javascripts %}
    {% endblock %}

{% endblock %}