<style>
    .feed-element.reply, .feed-element.retweet, .feed-element.quote {

        display:none;

    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Timeline</h5>
        <div class="ibox-tools">
            {% set sorts =  {'id': 'Date', 'retweet_count': 'Retweets'} %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                sort by {{ sorts[app.request.query.get("sort", "id")] }} <i class="fa fa-sort-down"></i> 
            </a>
            <ul class="dropdown-menu dropdown-user">
                {% for key, value in sorts %}
                   <li><a href="{{ path('twitter_users_show', {id: user.id }) ~ '?sort=' ~ key }}">{{ value }}</a></li>
                {% endfor %}
            </ul>
            
        </div>
        
        
    </div>
    <div class="ibox-content">

        <div class="row text-center" style="margin-bottom: 10px;">
            {% if user.timelineUpdatedAt %}
                 <small>timeline updated  {{ user.timelineUpdatedAt | ago }}</small>
            {% else %}
                <small>untracked timeline</small>
            {% endif %}
            <small><a href="{{ path('twitter_users_timeline_update', {id: user.id}) }}"><i class="fa fa-refresh"></i> Refresh</a></small>
        </div>
        <div>
            
            {{ include('@SocialMediaContent/tweet/feed.html.twig', {tweets: timeline })}}

        </div>

    </div>
</div>